* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

h1 {
  text-align: center;
  font-size: 23px;
  background-color: darkgrey;
  color: #444;
  margin-bottom: 20px;
}

canvas {
  margin: 20px 0;
}
